<div class="restas">
  <div class="izquierda">
    <p class="dividendo">
      <span class="minimo">{{ result.minimo }}</span
      ><span class="restante">{{ result.restante }}</span>
    </p>
    <hr />
    <div class="restas-list" *ngIf="result.restas!.length > 0">
      <app-resta
        [resta]="resta"
        class="resta dividendo"
        *ngFor="let resta of result.restas"
      ></app-resta>
      <p *ngIf="result.decimales! > 0; else restoEntero">
        {{ result.restoParcial }}
      </p>
    </div>
  </div>
  <div class="derecha">
    <span class="divisor block">{{ result.divisor }}</span>
    <span
      class="cociente block"
      [ngClass]="{ pequeno: result.cocienteInt!.toString().length > 8 }"
      >{{ result.cocienteInt }}</span
    >
  </div>
</div>

<ng-template #restoEntero>
  <p>{{ result.resto }}</p>
</ng-template>
